.header {
    position: absolute;
    top:34vw;
    background: white;
    z-index: 10;
    padding: 2.6vw;
    padding-bottom: 0;
    width: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    font-size: max(18px, 1.56vw);
    box-shadow: 0 1px 10px 1px rgba(60, 64, 67, .2);

    &.stuck {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0%);
        padding: 1rem;
        padding-bottom: 0;
        font-size: large;        


        .ctaContainer {
            display: none;
        }
    }

    &>div>span {
        display: block;
        padding-top: 10px;
    }


    // appeler maintenant en bas
    &>a:last-child {
        visibility: hidden;
        position: fixed;
        top: 110vh;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        box-shadow: 0 10px 40px 10px rgb(232, 228, 228);
        padding: .8rem;
        font-size: medium;
        transition: top .5s ease;
    }


}


.placeholder {
    visibility: hidden;
    padding: 1rem;

    &.stuck {
        display: none;
    }
}


.ctaContainer {
    display: flex;
    justify-content: space-between;
    margin-top: max(10px, 2vw);
}


@media (max-width:720px) {
    .header {
        transform: translate(-50%, 0%);
        width: 100%;
        &.stuck {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0%);
            padding: 1rem;
            padding-bottom: 0;

            
            &>a:last-child {
                visibility: visible;
                top: 90vh;
                transition: top .5s ease;
            }
            
        }
        
        // .ctaContainer {
        //     display: none;
        // }
    }
    
    .ctaContainer :last-child {
        border-radius: 50px;
        padding: 4px 15px;

        svg {
            width: 25px;
            height: 25px;
        }

        span {
        display: none;
        }
    }
    
}

@media (max-width: 480) {
    .header {
        top: 30vh;
    }
}