.carousel {

    :global {
        // .slick-slide>div {
        //     padding: 0 10px;
        //     }

        .arrow {
            top: 25%;
        }
    }

}

.photo {
    width: max(250px, 15vw);
    height: max(250px, 15vw);
    margin-right: 10px;
}

@media (max-width: 465px) {
    .photo {
        width: 90vw;
        margin: 0;
    }
}