@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    scroll-behavior: smooth;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
    &>a {
        visibility: hidden;
        position: fixed;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        box-shadow: 0 10px 40px 10px rgb(232, 228, 228);
        padding: .8rem;
        // font-size: medium;
        transition: bottom .5s ease;
    }
}


/** This block is for cookie consent banner customization **/

 #cc-main {


     --cc-btn-primary-bg: #C9A84C;
     --cc-btn-primary-border-color: #C9A84C;
     --cc-btn-primary-hover-bg: #242325;
     --cc-btn-primary-hover-border-color: #242325;

     /** Also make toggles the same color as the button **/
     --cc-toggle-on-bg: var(--cc-btn-primary-bg);

     /** Make the buttons a bit rounder **/
     --cc-btn-border-radius: 10px;
 }

@media (max-width: 720px) {
    body>a {
            visibility: visible;
            bottom: 4%;
            transition: bottom .5s ease;
            padding: 0.8rem 1.2rem !important;
            font-size: small;
            text-align: center;

            svg {
                height: 20px;
                width: 20px;
                flex-shrink: 0;
            }
        }
}




@media (max-width: 480px) { 
    body>a {
        width: 50% !important;
     }
}
